* {
	margin: 0;
	padding: 0;
}

div#navigation {
	background-color: #999;
	padding: 10px;
}

div#navigation ul li {
	list-style-type: none;
	display: inline-block;
	margin-left: 20px;
}

div#navigation ul li a {
	text-decoration: none;
	color: white;
}

div#register-content, div#login-content {
	margin-left: 100px;
	margin-top: 50px;
	border: 1px solid black;
	width: 470px;
	height: 300px;
	box-shadow: 10px 10px 5px grey;
	float: left;
}

div#form-elements-container {
	margin-top: 10px;
	margin-left: 10px;
}

input[type=text], input[type=password] {
	padding: 4px;
	width: 350px;
}

input[type=text] {
	margin-left: 30px;
}

input[type=password] {
	margin-left: 7px;
}

div#submit-container {
	margin-left: 200px;
}

button#register, button#login {
	padding: 5px 10px 5px 10px;
	border: 2px solid #008CBA;
	background-color: white;
}

button#register:hover, button#login:hover {
	background-color: lightblue;
	color: white;
	transition-duration: 0.4s;
}

div#confirm-register {
	border: 2px solid black;
	width: 300px;
	height: 100px;
	padding: 20px;
	position: absolute;
	left: 700px;
	top: 350px;
	background-color: lightblue;
}

div#confirm-register h3 {
	margin-bottom: 5px;
}

button#register-confirm-yes, button#register-confirm-no {
	padding: 5px;
	margin-top: 30px;
}

button#register-confirm-yes {
	float: left;
	margin-left: 220px;
}

button#register-confirm-no {
	margin-left: 12px;
}

div#image-container {
	float: left;
	border: 1px solid black;
	width: 800px;
	height: 640px;
	margin-left: 300px;
	margin-top: 50px;
	background-image: url("../images/img.jpg");
	background-repeat: no-repeat;
}

div#confirm-register-container {
	position: relative;
	width: 100%;
	height: 970px;
	background-color: #999;
	top: -40px;
	opacity: 0.8;
}

div#name-error-message, div#email-error-message, div#password-error-message {
	width: 300px;
	height: 20px;
	color: red;
	margin-left: 77px;
	padding: 2px;
}

.error {
	border: 1px solid red;
}